/* Application.module.css */
html,
body {
  margin: 0;
  padding: 0;
}

.header {
  height: 100px;
  width: 100%;
  background: #d54728;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.logo {
  padding: 0px;
  margin: 0px;
}

.title {
  color: #d54728;
  font-size: 32px;
  margin: 10px 0px;
}

.gutter16 {
  padding: 10px 0px;
}

.flexWrapper {
  display: flex;
  justify-content: space-between;
}

.contentWrapper {
  width: 48%;
  min-height: 500px;
  background: #ffffff;
  padding: 20px;
}

.smallTitle {
  font-size: 15px;
  margin-bottom: 20px;
}

.queryButton {
  background: #d54728;
  border-color: #d54728;
  margin-right: 10px;
}

.resetButton {
  color: #d54728;
  border-color: #d54728;
}

.contentStyle {
  padding: 24px;
  margin: 0;
  min-height: 280;
  background: #f0f2f5;
}

.plusButtonWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
}

.registerButton {
  background-color: #d54728;
  border-color: #d54728;
}

.formBackground {
  background: #ffffff;
  padding: 20px;
}

.gutter16 {
  padding: 10px 0px;
}

.flexWrapper {
  display: flex;
  justify-content: space-between;
}

.contentWrapper {
  width: 48%;
  min-height: 500px;
  background: #ffffff;
  padding: 20px;
}

.smallTitle {
  font-size: 15px;
  margin-bottom: 20px;
}

.queryButton {
  background: #d8d6d5;
  border-color: #d8d6d5;
  margin-right: 10px;
}

.contentStyle {
  padding: 24px;
  margin: 0;
  min-height: 280;
  background: #f0f2f5;
}

.button_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 4%;
  height: 500px;
  font-size: 20px;
}
.button_space {
  height: 10px;
}

.searchIcon:hover {
  color: #d54728;
}

.searchIcon:active {
  color: #d54728;
}
